<%= link_to ' Back', movies_path, class:" btn btn-primary fa fa-arrow-circle-o-left", style: "color:white" %>
<div class="row pagemargin">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail cards-container card">
        <%= link_to (image_tag movie.image.url(:medium), class: "image photo"), movie%>
        <h5 class= "centertitle">
          <%= movie.title %>
        </h5>
      </div>
    </div>
  <% end %>  
</div>
